{
    "singleQuote": false,
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 100,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "@/(.*)$",
        "^[./]"
    ],
    "tailwindFunctions": [
        "clsx"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "tailwindStylesheet": "./app/globals.css"
}